.aboutSection {
    padding: 40px;
    background-color: #1a202c;
    color: #fff;
    text-align: center;
}

.aboutSection h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f00; 
}

.aboutSection p {
    font-size: 1.2rem;
    color: #ddd;
    text-align: left; 
}
