.aboutSection {
    padding: 20px;
    background-color: #1a202c;
    color: #fff;
    text-align: center;
    border-radius: 8px; 
    box-shadow: 0 0 8px 2px #FF4D4D;
    margin: 10px;
}

.aboutSection h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f00; 
}

.aboutSection p {
    font-size: 1.2rem;
    color: #ddd;
    text-align: left; 
}
