/* styles/CarFeatures.module.css */
.featuresSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
  position: relative;
  background-color: #000; /* Black background */
}

/* Feature card styles */
.featureCard {
  background-color: #000;
  border: 3px solid #ff4d4d; /* Bright red border */
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 8px 2px #C1131A;
}

/* Logo container styles */
.logoContainer {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000; /* Same as background */
  border-radius: 50%;
  padding: 20px;
}

.logoContainer img {
  width: 100px; /* Adjust size as needed */
  height: auto;
}

/* Media Queries for responsiveness */

/* For tablets (iPads) */
@media (max-width: 1024px) {
  .featuresSection {
    grid-template-columns: 1fr; /* Stack cards in a single column */
    padding: 20px; /* Adjust padding */
  }

  .logoContainer {
    display: none;

  }

  .logoContainer img {
    width: 80px; /* Adjust size as needed */
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .featuresSection {
    grid-template-columns: 1fr; /* Stack cards in a single column */
    gap: 15px; /* Adjust gap */
    padding: 15px; /* Adjust padding */
  }

  .logoContainer {
    display: none;

  }

  .logoContainer img {
    width: 60px;
  }
}
