/* CarViewer.module.css */
.section {
  height: 100vh;
  background-color: #000; /* Black background */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevents any overflow */
}

.canvas {
  width: 100%;
  height: 100%;
  position: absolute; /* Ensures the Canvas fills the section */
  top: 0;
  left: 0;
}
