.cordiSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: black; 
    position: relative;
    overflow: hidden;
    color: white; 
  }
  
  .textContainer {
    flex: 2;
    padding-right: 20px;
    opacity: 0;
    transform: translateX(-30px);
    animation: fadeInUp 1s forwards;
  }
  
  .imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(30px);
    animation: fadeInUp 1s forwards;
    animation-delay: 0.5s;
  }
  .imageContainer img {
    border-radius: 50%;
    border: 2px solid #ff4d4d;
  }

  .links {
    margin-top: 20px;
  }
  
  .link {
    display: block;
    color: #FF0101;
    text-decoration: none;
    font-weight: bold;
    margin: 5px 0;
    transition: color 0.3s ease;
  }
  
  .link:hover {
    color: #FF0101;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (max-width:1000px) {
    .cordiSection {
      align-items: center; 
      text-align: center; 
    }
  
    .textContainer {
      padding-right: 0;
      margin-bottom: 10px; 
      transform: translateX(0); 
    }
  
    .imageContainer {
      transform: translateX(0); 
      animation-delay: 0; 
      width: 150px;
      height: 150px;

    }
  }
  
  @media (max-width: 700px) {
    .cordiSection {
      padding: 20px;
      flex-direction: column; 
      align-items: center; 
      text-align: center;
    }
  
    .imageContainer {
      margin-top: 20px;
      width: 100px;
      height: 100px;
    }
    .link {
      display: inline-flex;
      padding-left: .3rem;
      padding-right: .3rem;}

      .imageContainer img {
        height: 90%;
        width: 90%;
      }
  }
  