.footerDiv{
    background-color: #000;
    padding-top: 10px;
  }
  .footer {
    color: #e2e8f0;
    padding: 20px;
    text-align: center;
  }
  .footerAnchor {
    color: #e2e8f0;
    text-decoration: none;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-right: 10px;
  }

  .footerDiv1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: none;
    color: #fff; 
  }
  
  .footerDiv1 img {
    margin-left: 50px;
    border-radius: 30%;
  }
  
  .footerDiv1 p {
    margin: 0;
    flex-grow: 1;
    text-align: center;
  }
  
  .footerDiv1 a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .footerDiv1 a:hover {
    color: #ff4d4d; 
  }
  .contact_info {
    background-color: none;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.contact_info h2 {
    color: #ff0000;
    font-size: 1.5em;
}
.contact_info p {
    font-size: 1.2em;
}
.contact_info a {
    color: #ff0000;
    text-decoration: none;
}
.contact_info a:hover {
    text-decoration: underline;
}
