/* app/components/Navbar.module.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: transparent;
}

.logo {
  flex-shrink: 0;
}

.navbar {
  background-color: #444;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 1rem;
  position: relative; /* Required for the oval to work */
}

.navbar a {
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
  padding: .3rem;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 100%;
  border-radius: 40px; /* Oval shape */
  color: #BE131A;
  background-color: black;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease, width 0.3s ease;
  z-index: -1;
}

.navbar a:hover::before {
  width: 120%; /* Width expands to create an oval */
  transform: translate(-50%, -50%) scale(1);
  color: #BE131A;
  
}

.navbar a:hover {
  color: #BE131A;
  z-index: 2;
}
