.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: 
    linear-gradient(129deg, transparent 50%, #C0141A 50%, #C0141A 52.5%, transparent 52.5%), 
    linear-gradient(129deg, transparent 53%, #C0141A 53%, #C0141A 54.5%, transparent 54.5%),
    black;
  background-size: cover;
  background-attachment: fixed;
  z-index: 10;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 0.3rem;
}

.navbar a {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0 0.5rem;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #FF0101;
}

.logo {
  flex-shrink: 0;
  margin: 0 0.5rem;
}

.navbarToggle {
  display: none;
  position: absolute;
  top: 2.5rem;
  left: 1.5rem;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 10%;
  cursor: pointer;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.navbarToggle span {
  display: block;
  width: 20px;
  height: 2px;
  margin: 2px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}

.navbarToggle.open span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.navbarToggle.open span:nth-child(2) {
  opacity: 0;
  transform: scale(0);
}

.navbarToggle.open span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    padding: 8px 0.5rem 0.5rem;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .navbar.active ul {
    display: block;
  }

  .navbar li {
    width: 100%;
    margin: 0.5rem 0;
    padding: 5px 0;
    text-align: center;
    background-color: #4444;
    border-radius: 20px;
  }

  .logo.hidden {
    display: none;
  }

  .navbarToggle {
    display: flex;
  }
}