.profile_card {
    position: relative;
    width: 300px;
    align-items: center;
    height: 300px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .profile_card:hover {
    transform: scale(1.05);
    border: 2px solid #FF4D4D; 
}
  
  .profile_Image {
    width: 100%;
    height: 100%;
  }
  
  .profile_Image .image {
    object-fit: fill;
  }
  
  .profile_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    text-align: center;
    transition: transform 0.4s ease-in-out;
    transform: translateY(100%);
  }
  
  .profile_card:hover .profile_overlay {
    transform: translateY(0%);
  }
  
  .profile_overlay h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .social_links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }
  
  .social_icon {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social_icon svg {
    width: 40px;
    height: 40px;
  }
  