
.carousel {
    display: flex; 
    transition: transform 0.1s ease; 
    animation: scroll 5s linear infinite; 
}


/* sponsor flow */
.sponsorSection {
    padding: 50px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.sponsorSection h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f00; 
}

.sponsorSection p {
    font-size: 1rem;
    color: #ddd; 
}

.sponsorCarousel {
    overflow: hidden;
    position: relative;
    width: 100%; 
}

.carouselTrack {
    display: flex;
    width: calc(100% * 2);
    animation: scroll 30s linear infinite; 
}

.carouselTrack img {
    max-width: 100px;
    height: 100px; 
    margin: 0 10px; 
    border-radius: 15px; 
    object-fit: cover; 
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); 
    }
}

.h2tag {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}
