.vision {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  position: relative;
  overflow: hidden;
  color: white;
  padding: 40px;
}

.textContainer,
.imageContainer {
  flex: 1;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  padding: 0 20px;
}

.links {
  margin-top: 20px;
}

.link {
  display: block;
  color: #ff4d4d;
  text-decoration: none;
  font-weight: bold;
  margin: 5px 0;
  transition: color 0.3s ease;
}

.link:hover {
  color: #d43f3f;
}

.image {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.fadeInRight {
  opacity: 1;
  transform: translateX(0);
  animation: fadeInRight 1s forwards;
}

.fadeInLeft {
  opacity: 1;
  transform: translateX(0);
  animation: fadeInLeft 1s forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .whoAreWeSection {
    flex-direction: column;
    text-align: center;
    padding: 40px;
  }

  .textContainer,
  .imageContainer {
    padding: 0;
    transform: translateX(0); 
    animation: none; 
    opacity: 1; 
  }

  .textContainer {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .whoAreWeSection {
    padding: 20px;
  }

  .imageContainer {
    margin-top: 20px;
  }

  .link {
    display: inline-flex;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  .image{
    width:50%;
    height: 200px;
  }
}

@media (max-width: 480px) {
  .whoAreWeSection {
    padding: 15px;
  }

  .textContainer,
  .imageContainer {
    padding: 0;
  }

  .link {
    font-size: 0.9rem;
  }

  .heading {
    font-size: 1.5rem;
  }
}
