.welcome {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  overflow: hidden;
}

.textContainer {
  color: #fff;
  animation: fadeIn 1.5s ease-in-out;
}

.heading {
  color: #FF4D4D;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #FF4D4D; 
  animation: typing 4s steps(50, end) forwards, blink-caret 0.75s step-end 4s forwards; 
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FF4D4D;
  }
}


.paragraph {
  font-size: 1.25rem;
  animation: slideIn 1s forwards;
}

.image {
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.image:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
