.main section {
  margin-bottom: 1rem; 
  background-color: #1a1a1a; 
  border-radius: 8px; 
  box-shadow: 0 0 8px 2px #f02f35;
  padding: 2rem; 
}

.part-info {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-top: 1rem;
  text-align: left;
}

.heading {
  color: white;
  font-size: 2rem;
  overflow: hidden;
  text-align: center;
}
.projects {
  display: flex;
  gap: 5px;
  overflow: hidden; 
  padding: 20px 0;
  margin-bottom: 10px;
  background-color:none; 
  position: relative;
}

@media (max-width: 768px) {
  .main section {
    padding: 1rem;
  }

  .part-info {
    text-align: center; 
  }

  .projects {
    direction: column;
  }
}



.h2tag {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-size: 2rem;
}